*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: 0.5fr 1fr 2fr;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    padding: 0.5rem;
}

main {
    grid-row: 2/4; 
    display: grid;
    grid-template-rows: 0.5fr 1fr; 
    justify-content: center;
    align-items: center;
    height: 90%;
    margin-top: 1rem;
}

header{
    grid-row: 1/2;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

header h3{
    margin-top: 0.5rem;
}

.juego{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    

}

.juego h2{
    margin: 0.8rem;
    align-self: center;
}


.juego h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ahorcado{
    margin: 0rem 0.8rem;
    display: flex;
    background-color: rgb(179, 179, 35);
    border: 1px solid #000;
    padding: 5rem;
}


#keys > button {
    color: rgb(0, 164, 14);
    font-weight: bolder;
    width: 15%;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: background-color 0.3s;
    padding: 0.2rem;
    text-transform: uppercase;
    max-width: 100px;
    
}

button:hover {
    background-color: rgb(157, 233, 157);
}

/* #keys {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 10px;
    padding-bottom: 300px;
    max-height: 300px;
} */

#keys {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button[disabled] {
    background-color: #a7a7a7;
}

#soundToggle {
    display: flex;
    border-radius: 5px;
    padding: 0.4rem;
    justify-self: flex-end;
}

#soundIcon {
    width: 1.2rem;
}